@model IEnumerable<EmployeeManagementSystem.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New Employee", "Create")
</p>

<div ng-app="employeeApp" ng-controller="EmployeeController">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.Name}}</td>
                <td>{{employee.Email}}</td>
                <td>{{employee.Phone}}</td>
                <td>{{employee.Department.Name}}</td>
                <td>
                    <a ng-click="editEmployee(employee.Id)">Edit</a>
                    <a ng-click="deleteEmployee(employee.Id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script>
        angular.module('employeeApp', [])
            .controller('EmployeeController', function ($scope, $http) {

                $http.get('/Employee/GetAllEmployees').then(function (response) {
                    $scope.employees = response.data;
                });

                $scope.editEmployee = function (id) {
                    window.location.href = '/Employee/Edit/' + id;
                }

                $scope.deleteEmployee = function (id) {
                    var confirmation = confirm("Are you sure you want to delete this employee?");
                    if (confirmation) {
                        $http.delete('/Employee/Delete/' + id).then(function (response) {
                            $http.get('/Employee/GetAllEmployees').then(function (response) {
                                $scope.employees = response.data;
                            });
                        });
                    }
                }
            });
    </script>
}

